.container-1 {
  position: absolute;
  top: 170px;
  background: rgba(43, 65, 79, 255);
  margin-bottom: 0;
  height: auto;
  overflow: hidden;
  text-decoration: none;
  border-color: rgba(43, 65, 79, 255);
}
